body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150vh;
    background-color: rgba(168, 167, 167, 0.6);
}

/*Create the card container*/
.birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}

.birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
}

.birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
}

.birthdayCard:hover .front-text {
    display: none;
}

/*pode remover se quiser deixar o desenho*/
.birthdayCard:hover .wrap-deco {
    display: none;
}

/**********/

.birthdayCard:hover .wrap-decoTwo {
    display: none;
}

/**********/

/*Style the front of the card*/
.cardFront {
    position: relative;
    background-color: rgb(255, 246, 246);
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, 0.1);
    transition: .4s;
}

.happy,
.toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px;
}

.happy {
    top: 198px;
}

.toyou {
    top: 123px;
}

.bday {
    position: relative;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    top: 163px;
}

.wrap-deco {
    position: absolute;
    top: -230px;
    left: -200px;
}

.decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
}

.decorations:before,
.decorations:after,
.decorationsTwo:before,
.decorationsTwo:after,
.decorationsThree:before,
.decorationsThree:after {
    content: "";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width: 0;
    height: 0;
}

.decorations:before {
    border-top: 40px solid #f15bb5;
    top: 297px;
    left: 210px;
    transform: rotate(-5deg);
}

.decorations:after {
    border-top: 40px solid #f4d35e;
    top: 288px;
    left: 260px;
    transform: rotate(-17deg);
}

.decorationsTwo:before {
    border-top: 40px solid #00f5d4;
    top: 268px;
    left: 315px;
    transform: rotate(-30deg);
}

.decorationsTwo:after,
.decorationsThree:after {
    border-top: 40px solid #9b5de5;
    top: 238px;
    left: 355px;
    transform: rotate(-40deg);
}

.wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top: -230px;
    left: 445px;
}

.decorationsThree:before {
    border-top: 40px solid #00bbf9;
    top: 268px;
    left: 315px;
    transform: rotate(-30deg);
}

.plate {
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #00bbf9;
    left: 60px;
    top: 213px;
}

/*Style the inside part of the card*/
.cardInside {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

.inside-text {
    position: relative;
    top: -160px;
    transform: scale(0.7);
}

.wishes {
    position: relative;
    top: -100px;
    margin: 25px;
}

p {
    font-family: 'Brush Script MT';
    color: #333;
}

.name {
    margin-left: 150px;
}
.natal {
    position: absolute;
    width: 500px;
    height: auto;
    top: -200px;
    left: -180px;
}


